<% if @user.id == session[:id] %>
  <h3>Your posts!</h3>
<% else %>
  <h3><%= @user.email %>'s Posts</h3>
<% end %>


<p><%= @message %></p>
<ul><% @posts.each do |story| %>
  <li><a href="<%= "/posts/#{story.id}" %>"><%= story.name %></a>  <% if @user.id == session[:id] %> <a href="/delete_post/<%= story.id%>">Delete</a>  <a href="/edit_post/<%= story.id%>">Edit</a> <% end %></li>
<% end %></ul>

<% if @user.id == session[:id] %>
  <a href="/new_post">Add a new story?</a>
  <a href="/profile">My Profile</a>
<% else %>
  <a href="<%= "/users/#{@user.id}" %>"><%= @user.email %>'s Profile</a>
<% end %>