<% if @user.id == session[:id] %>
  <h3>Your posts!</h3>
<% else %>
  <h3><%= @user.email %>'s Posts</h3>
<% end %>


<p><%= @message %></p>
<ul><% @posts.each do |story| %>
  <li><a href="<%= "/posts/#{story.id}" %>"><%= story.name %></a>  
    <% if @user.id == session[:id] %>
      <a href="/delete_post/<%= story.id%>" data-method="delete" data-confirm="Are you sure you want to delete this post?">Delete</a>  <a href="/edit_post/<%= story.id%>">Edit</a> 
    <% else %>
      <div class="content">
      <span class="vote__text"><%= "#{story.num_votes} #{story.num_votes == 1 ? "vote" : "votes"}" %></span>
      <% if story.can_vote?(session[:id]) %>
        <% if story.has_voted?(session[:id]) %>
          <img class="vote__icon unvote" src="http://www.entypo.com/images/check.svg" title="click to unvote" alt="voted">
        <% else %>
          <img class="vote__icon vote" src="http://www.entypo.com/images/thumbs-up.svg" title=" click to vote" alt="thumbs-up">
        <% end %>
      <% end %>
      </div>
    <% end %></li>
<% end %></ul>

<% if @user.id == session[:id] %>
  <a href="/new_post">Add a new story?</a>
  <a href="/profile">My Profile</a>
<% else %>
  <a href="<%= "/users/#{@user.id}" %>"><%= @user.email %>'s Profile</a>
<% end %>